<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="library managemment" connectionString="server=.\SQLExpress;database=LIbrary12;integrated security=true"/>
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 </configuration>
