USE [Library12]
GO
/****** Object:  Table [dbo].[TempDueRecord]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempDueRecord](
	[SN] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[For_Book] [numeric](18, 0) NOT NULL,
	[For_Copy] [numeric](18, 0) NOT NULL,
	[For_Others] [numeric](18, 0) NOT NULL,
	[Previous_Due] [numeric](18, 0) NOT NULL,
	[Total] [numeric](18, 0) NOT NULL,
	[Memo_Number] [int] NOT NULL,
 CONSTRAINT [PK_TempDueRecord] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_Sell_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Sell_Counter](
	[S.N] [int] IDENTITY(1,1) NOT NULL,
	[Book_Name] [nvarchar](max) NOT NULL,
	[Writer_Name] [nvarchar](max) NOT NULL,
	[Edition] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Print] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [numeric](18, 0) NOT NULL,
	[Total] [numeric](18, 0) NOT NULL,
	[Pay] [numeric](18, 0) NOT NULL,
	[Due] [numeric](18, 0) NOT NULL,
	[Memo_Number] [int] NOT NULL,
 CONSTRAINT [PK_Temp_Sell_Counter] PRIMARY KEY CLUSTERED 
(
	[S.N] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_Order_Hold]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Order_Hold](
	[Serial_No] [nchar](10) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Mobile_No] [nvarchar](50) NOT NULL,
	[Book_Name] [nvarchar](max) NOT NULL,
	[Writer_Name] [nvarchar](max) NOT NULL,
	[Edition] [nchar](10) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Print] [nvarchar](50) NOT NULL,
	[Quantity] [nchar](10) NOT NULL,
	[Unit_Price] [nvarchar](max) NOT NULL,
	[Total] [nvarchar](50) NOT NULL,
	[Advance] [nvarchar](50) NOT NULL,
	[Due] [nvarchar](50) NOT NULL,
	[Supply_Date] [nvarchar](50) NOT NULL,
	[S_No] [int] IDENTITY(1,1) NOT NULL,
	[Memo_Number] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_Order_Delivery]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Order_Delivery](
	[Serial_No] [nchar](10) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Mobile_No] [nvarchar](50) NOT NULL,
	[Book_Name] [nvarchar](max) NOT NULL,
	[Writer_Name] [nvarchar](max) NOT NULL,
	[Edition] [nchar](10) NOT NULL,
	[Print] [nvarchar](50) NOT NULL,
	[Quantity] [nchar](10) NOT NULL,
	[Unit_Price] [nvarchar](max) NOT NULL,
	[Total] [nvarchar](50) NOT NULL,
	[Advance] [nvarchar](50) NOT NULL,
	[Due] [nvarchar](50) NOT NULL,
	[S_No] [int] IDENTITY(1,1) NOT NULL,
	[Paying_Amount] [nvarchar](50) NOT NULL,
	[Memo_Number] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sell_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sell_Counter](
	[Serial] [int] NOT NULL,
	[Book_Name] [nvarchar](max) NOT NULL,
	[Writer_Name] [nvarchar](max) NOT NULL,
	[Book_Edition] [nvarchar](50) NOT NULL,
	[Book_Type] [nvarchar](50) NOT NULL,
	[Print] [nvarchar](50) NOT NULL,
	[Quantiy] [int] NOT NULL,
	[Unit_Price_Sell] [numeric](18, 0) NOT NULL,
	[Total_Sell_Amount] [numeric](18, 0) NOT NULL,
	[Unit_Price_Buy] [numeric](18, 0) NOT NULL,
	[Buy_Total] [numeric](18, 0) NOT NULL,
	[Collection] [numeric](18, 0) NOT NULL,
	[Due] [numeric](18, 0) NOT NULL,
	[Benifit] [numeric](18, 0) NOT NULL,
	[Loss] [numeric](18, 0) NOT NULL,
	[Sell_Date] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[sell_Counter] ([Serial], [Book_Name], [Writer_Name], [Book_Edition], [Book_Type], [Print], [Quantiy], [Unit_Price_Sell], [Total_Sell_Amount], [Unit_Price_Buy], [Buy_Total], [Collection], [Due], [Benifit], [Loss], [Sell_Date]) VALUES (8, N'Digital System', N'Tocchi', N'3rd', N'Old', N'News', 1, CAST(150 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
INSERT [dbo].[sell_Counter] ([Serial], [Book_Name], [Writer_Name], [Book_Edition], [Book_Type], [Print], [Quantiy], [Unit_Price_Sell], [Total_Sell_Amount], [Unit_Price_Buy], [Buy_Total], [Collection], [Due], [Benifit], [Loss], [Sell_Date]) VALUES (8, N'Digital System', N'Tocchi', N'3rd', N'Old', N'News', 1, CAST(150 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
INSERT [dbo].[sell_Counter] ([Serial], [Book_Name], [Writer_Name], [Book_Edition], [Book_Type], [Print], [Quantiy], [Unit_Price_Sell], [Total_Sell_Amount], [Unit_Price_Buy], [Buy_Total], [Collection], [Due], [Benifit], [Loss], [Sell_Date]) VALUES (11, N'রসায়ন', N'হাজারী এবং নাগ', N'3rd', N'New', N'Original', 1, CAST(150 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
/****** Object:  Table [dbo].[Self_Order_Memo_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Self_Order_Memo_Counter](
	[Memo_No] [int] IDENTITY(1,1) NOT NULL,
	[Printing_Date] [date] NOT NULL,
 CONSTRAINT [PK_S_O_Memo_Counter] PRIMARY KEY CLUSTERED 
(
	[Memo_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Self_Order_Memo_Counter] ON
INSERT [dbo].[Self_Order_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (1, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Self_Order_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (2, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Self_Order_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (3, CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Self_Order_Memo_Counter] OFF
/****** Object:  Table [dbo].[Self_Order]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Self_Order](
	[Serial No] [int] IDENTITY(1,1) NOT NULL,
	[Book Name] [nvarchar](max) NOT NULL,
	[Writer Name] [nvarchar](max) NOT NULL,
	[Edition] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Print] [nvarchar](50) NOT NULL,
	[Quanitity] [int] NOT NULL,
	[Order Date] [date] NOT NULL,
	[Memo_Number] [int] NOT NULL,
 CONSTRAINT [PK_Self_Order] PRIMARY KEY CLUSTERED 
(
	[Serial No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Security_12]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Security_12](
	[User_Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Security_12] ([User_Name], [Password]) VALUES (N'A', N'a')
/****** Object:  Table [dbo].[Reduce]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reduce](
	[Serial] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[F_Book] [numeric](18, 0) NOT NULL,
	[N_Book] [numeric](18, 0) NOT NULL,
	[F_Copy] [numeric](18, 0) NOT NULL,
	[N_Copy] [numeric](18, 0) NOT NULL,
	[F_Others] [numeric](18, 0) NOT NULL,
	[N_Others] [numeric](18, 0) NOT NULL,
	[Total_Due] [numeric](18, 0) NOT NULL,
	[Reduce_Amount] [numeric](18, 0) NOT NULL,
	[N_Total_Due] [numeric](18, 0) NOT NULL,
	[Reduce_date] [date] NOT NULL,
 CONSTRAINT [PK_Reduce] PRIMARY KEY CLUSTERED 
(
	[Serial] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photocopy]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photocopy](
	[Serial_No] [int] IDENTITY(1,1) NOT NULL,
	[Machine_1] [int] NOT NULL,
	[Machine_2] [int] NOT NULL,
	[Machine_3] [int] NOT NULL,
	[Machine_4] [int] NOT NULL,
	[Total_Copy] [numeric](18, 2) NOT NULL,
	[Copy_Rate] [numeric](18, 2) NOT NULL,
	[Total_Amount] [numeric](18, 2) NOT NULL,
	[Copy_Date] [date] NOT NULL,
 CONSTRAINT [PK_Photocopy] PRIMARY KEY CLUSTERED 
(
	[Serial_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_No] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Book_Name] [nvarchar](max) NOT NULL,
	[Writer] [nvarchar](max) NOT NULL,
	[Edition] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[B_Print] [nvarchar](50) NOT NULL,
	[Buy_Unit_Price] [numeric](18, 0) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [numeric](18, 0) NOT NULL,
	[Total_price] [numeric](18, 0) NOT NULL,
	[Advance] [numeric](18, 0) NOT NULL,
	[Due] [numeric](18, 0) NOT NULL,
	[Order_Date] [date] NOT NULL,
	[Supply_Date] [date] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([Order_No], [Customer_Name], [Mobile], [Book_Name], [Writer], [Edition], [Type], [B_Print], [Buy_Unit_Price], [Quantity], [Unit_Price], [Total_price], [Advance], [Due], [Order_Date], [Supply_Date]) VALUES (8, N'Jahid', N'01145200', N'Microprocessor', N'Raffiquzzaman', N'3rd', N'Old', N'Photocopy', CAST(200 AS Numeric(18, 0)), 10, CAST(240 AS Numeric(18, 0)), CAST(2400 AS Numeric(18, 0)), CAST(1000 AS Numeric(18, 0)), CAST(1400 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date), CAST(0xC7390B00 AS Date))
INSERT [dbo].[Orders] ([Order_No], [Customer_Name], [Mobile], [Book_Name], [Writer], [Edition], [Type], [B_Print], [Buy_Unit_Price], [Quantity], [Unit_Price], [Total_price], [Advance], [Due], [Order_Date], [Supply_Date]) VALUES (9, N'Jahid', N'01145200', N'রসায়ন', N'হাজারী এবং নাগ', N'3rd', N'New', N'Original', CAST(120 AS Numeric(18, 0)), 1, CAST(145 AS Numeric(18, 0)), CAST(145 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(135 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date), CAST(0xC7390B00 AS Date))
INSERT [dbo].[Orders] ([Order_No], [Customer_Name], [Mobile], [Book_Name], [Writer], [Edition], [Type], [B_Print], [Buy_Unit_Price], [Quantity], [Unit_Price], [Total_price], [Advance], [Due], [Order_Date], [Supply_Date]) VALUES (10, N'Jahid', N'01145200', N'Digital System', N'Tocchi', N'3rd', N'Old', N'News', CAST(120 AS Numeric(18, 0)), 1, CAST(130 AS Numeric(18, 0)), CAST(130 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date), CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Table [dbo].[Order_Memo_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Memo_Counter](
	[Memo_No] [int] IDENTITY(1,1) NOT NULL,
	[Printing_Date] [date] NOT NULL,
 CONSTRAINT [PK_Order_Memo_Counter] PRIMARY KEY CLUSTERED 
(
	[Memo_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order_Memo_Counter] ON
INSERT [dbo].[Order_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (1, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Order_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (2, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Order_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (3, CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Order_Memo_Counter] OFF
/****** Object:  Table [dbo].[Memo_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memo_Counter](
	[Memo_No] [int] IDENTITY(1,1) NOT NULL,
	[Printing_Date] [date] NOT NULL,
 CONSTRAINT [PK_Memo_Counter] PRIMARY KEY CLUSTERED 
(
	[Memo_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Memo_Counter] ON
INSERT [dbo].[Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (1, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (2, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (3, CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Memo_Counter] OFF
/****** Object:  Table [dbo].[InvestmentCost]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestmentCost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Book] [numeric](18, 0) NOT NULL,
	[Paper] [numeric](18, 0) NOT NULL,
	[Ink] [numeric](18, 0) NOT NULL,
	[Equipment] [numeric](18, 0) NOT NULL,
	[Others] [numeric](18, 0) NOT NULL,
	[Investment_Date] [date] NOT NULL,
 CONSTRAINT [PK_InvestmentCost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvestmentCost] ON
INSERT [dbo].[InvestmentCost] ([Id], [Book], [Paper], [Ink], [Equipment], [Others], [Investment_Date]) VALUES (0, CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[InvestmentCost] OFF
/****** Object:  Table [dbo].[Income]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income](
	[From_Book] [numeric](18, 0) NOT NULL,
	[From_Photocopy] [numeric](18, 0) NOT NULL,
	[From_Others] [numeric](18, 0) NOT NULL,
	[Total_Income] [numeric](18, 0) NOT NULL,
	[Income_Date] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday_Counter](
	[Serial] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Starting Date] [date] NOT NULL,
	[Ending Date] [date] NOT NULL,
	[Total Day's] [int] NOT NULL,
 CONSTRAINT [PK_Holiday_Counter] PRIMARY KEY CLUSTERED 
(
	[Serial] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FInvestmentCost]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FInvestmentCost](
	[FId] [int] NOT NULL,
	[FBook] [numeric](18, 0) NOT NULL,
	[FPaper] [numeric](18, 0) NOT NULL,
	[FInk] [numeric](18, 0) NOT NULL,
	[FEquipment] [numeric](18, 0) NOT NULL,
	[Fothers] [numeric](18, 0) NOT NULL,
	[FInvestment_Date] [date] NOT NULL,
 CONSTRAINT [PK_FInvestmentCost] PRIMARY KEY CLUSTERED 
(
	[FId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FInvestmentCost] ([FId], [FBook], [FPaper], [FInk], [FEquipment], [Fothers], [FInvestment_Date]) VALUES (1, CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0x94390B00 AS Date))
/****** Object:  Table [dbo].[DueRecords]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DueRecords](
	[Serial] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[F_Book] [numeric](18, 0) NOT NULL,
	[F_Copy] [numeric](18, 0) NOT NULL,
	[F_Others] [nvarchar](50) NOT NULL,
	[Previous_Due] [numeric](18, 0) NOT NULL,
	[Total] [numeric](18, 0) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_DueRecords] PRIMARY KEY CLUSTERED 
(
	[Serial] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DueRecords] ON
INSERT [dbo].[DueRecords] ([Serial], [Name], [Mobile], [F_Book], [F_Copy], [F_Others], [Previous_Due], [Total], [Date]) VALUES (1, N'A', N'01145200', CAST(0 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)), N'100', CAST(400 AS Numeric(18, 0)), CAST(600 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[DueRecords] OFF
/****** Object:  Table [dbo].[Due_Memo_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Due_Memo_Counter](
	[Memo_No] [int] IDENTITY(1,1) NOT NULL,
	[Printing_Date] [date] NOT NULL,
 CONSTRAINT [PK_Due_Memo_Counter] PRIMARY KEY CLUSTERED 
(
	[Memo_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Due_Memo_Counter] ON
INSERT [dbo].[Due_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (1, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Due_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (2, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Due_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (3, CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Due_Memo_Counter] OFF
/****** Object:  Table [dbo].[Due_Collection]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Due_Collection](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[D_Collection] [numeric](18, 0) NOT NULL,
	[Add_Due] [numeric](18, 0) NOT NULL,
	[Pay_Collection] [numeric](18, 0) NOT NULL,
	[Due_Collection_Add_Date] [date] NOT NULL,
 CONSTRAINT [PK_Due_Collection] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Due_Collection] ON
INSERT [dbo].[Due_Collection] ([SNo], [D_Collection], [Add_Due], [Pay_Collection], [Due_Collection_Add_Date]) VALUES (2, CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(180 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
INSERT [dbo].[Due_Collection] ([SNo], [D_Collection], [Add_Due], [Pay_Collection], [Due_Collection_Add_Date]) VALUES (3, CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(200 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
INSERT [dbo].[Due_Collection] ([SNo], [D_Collection], [Add_Due], [Pay_Collection], [Due_Collection_Add_Date]) VALUES (4, CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Due_Collection] OFF
/****** Object:  Table [dbo].[Delivery_Report]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery_Report](
	[Order_NO] [int] NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Mobile] [numeric](18, 0) NOT NULL,
	[Book_Name] [nvarchar](max) NOT NULL,
	[Writer] [nvarchar](max) NOT NULL,
	[Edition] [nvarchar](50) NOT NULL,
	[Print] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Buy_Unit_Price] [numeric](18, 0) NOT NULL,
	[Unit_Price] [numeric](18, 0) NOT NULL,
	[Advance] [numeric](18, 0) NOT NULL,
	[Due] [numeric](18, 0) NOT NULL,
	[Paying_Amount] [numeric](18, 0) NOT NULL,
	[Final_Due] [numeric](18, 0) NOT NULL,
	[Delivery_Date] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Delivery_Report] ([Order_NO], [Customer_Name], [Mobile], [Book_Name], [Writer], [Edition], [Print], [Quantity], [Buy_Unit_Price], [Unit_Price], [Advance], [Due], [Paying_Amount], [Final_Due], [Delivery_Date]) VALUES (1, N'Md. N Ali', CAST(1987025410 AS Numeric(18, 0)), N'রসায়ন', N'হাজারী এবং নাগ', N'3rd', N'Original', 2, CAST(120 AS Numeric(18, 0)), CAST(140 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)), CAST(180 AS Numeric(18, 0)), CAST(180 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
INSERT [dbo].[Delivery_Report] ([Order_NO], [Customer_Name], [Mobile], [Book_Name], [Writer], [Edition], [Print], [Quantity], [Buy_Unit_Price], [Unit_Price], [Advance], [Due], [Paying_Amount], [Final_Due], [Delivery_Date]) VALUES (3, N'tttt', CAST(5452542 AS Numeric(18, 0)), N'Digital System', N'Tocchi', N'3rd', N'News', 2, CAST(120 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)), CAST(200 AS Numeric(18, 0)), CAST(200 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
INSERT [dbo].[Delivery_Report] ([Order_NO], [Customer_Name], [Mobile], [Book_Name], [Writer], [Edition], [Print], [Quantity], [Buy_Unit_Price], [Unit_Price], [Advance], [Due], [Paying_Amount], [Final_Due], [Delivery_Date]) VALUES (2, N'A', CAST(12 AS Numeric(18, 0)), N'Digital System', N'Tocchi', N'3rd', N'Photocopy', 1, CAST(120 AS Numeric(18, 0)), CAST(150 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0xC7390B00 AS Date))
/****** Object:  Table [dbo].[Deliveri_Memo_Counter]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveri_Memo_Counter](
	[Memo_No] [int] IDENTITY(1,1) NOT NULL,
	[Printing_Date] [date] NOT NULL,
 CONSTRAINT [PKd_Memo_Counter] PRIMARY KEY CLUSTERED 
(
	[Memo_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deliveri_Memo_Counter] ON
INSERT [dbo].[Deliveri_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (1, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Deliveri_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (2, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Deliveri_Memo_Counter] ([Memo_No], [Printing_Date]) VALUES (3, CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Deliveri_Memo_Counter] OFF
/****** Object:  Table [dbo].[CurrentReading]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentReading](
	[Id] [int] NOT NULL,
	[Machine_1] [int] NOT NULL,
	[Machine_2] [int] NOT NULL,
	[Machine_3] [int] NOT NULL,
	[Machine_4] [int] NOT NULL,
 CONSTRAINT [PK_CurrentReading] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Current_Self_Order]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Current_Self_Order](
	[Order_No] [int] IDENTITY(1,1) NOT NULL,
	[Book_Name] [nvarchar](max) NOT NULL,
	[Writer] [nvarchar](max) NOT NULL,
	[Edition] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Print] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Order_Date] [date] NOT NULL,
 CONSTRAINT [PK_Current_Self_Order] PRIMARY KEY CLUSTERED 
(
	[Order_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Current_Self_Order] ON
INSERT [dbo].[Current_Self_Order] ([Order_No], [Book_Name], [Writer], [Edition], [Type], [Print], [Quantity], [Order_Date]) VALUES (1, N'Microprocessor', N'Raffiquzzaman', N'3rd', N'Old', N'Photocopy', 10, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Current_Self_Order] ([Order_No], [Book_Name], [Writer], [Edition], [Type], [Print], [Quantity], [Order_Date]) VALUES (2, N'রসায়ন', N'হাজারী এবং নাগ', N'3rd', N'New', N'Original', 1, CAST(0xC7390B00 AS Date))
INSERT [dbo].[Current_Self_Order] ([Order_No], [Book_Name], [Writer], [Edition], [Type], [Print], [Quantity], [Order_Date]) VALUES (3, N'Digital System', N'Tocchi', N'3rd', N'Old', N'News', 1, CAST(0xC7390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Current_Self_Order] OFF
/****** Object:  Table [dbo].[Books]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[S.No] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Writer] [nvarchar](max) NOT NULL,
	[Edition] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Book_Print] [nvarchar](50) NOT NULL,
	[Quantiy] [int] NOT NULL,
	[B_Unit_Price] [numeric](18, 0) NOT NULL,
	[Total_Price] [numeric](18, 0) NOT NULL,
	[Purchase_Date] [date] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[S.No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON
INSERT [dbo].[Books] ([S.No], [Name], [Writer], [Edition], [Type], [Book_Print], [Quantiy], [B_Unit_Price], [Total_Price], [Purchase_Date]) VALUES (5, N'Java', N'Balagurusamy', N'3rd', N'Old', N'Photocopy', 137, CAST(120 AS Numeric(18, 0)), CAST(16440 AS Numeric(18, 0)), CAST(0xB8390B00 AS Date))
INSERT [dbo].[Books] ([S.No], [Name], [Writer], [Edition], [Type], [Book_Print], [Quantiy], [B_Unit_Price], [Total_Price], [Purchase_Date]) VALUES (7, N'Microprocessor', N'Raffiquzzaman', N'3rd', N'Old', N'Photocopy', 87, CAST(200 AS Numeric(18, 0)), CAST(17400 AS Numeric(18, 0)), CAST(0xBA390B00 AS Date))
INSERT [dbo].[Books] ([S.No], [Name], [Writer], [Edition], [Type], [Book_Print], [Quantiy], [B_Unit_Price], [Total_Price], [Purchase_Date]) VALUES (8, N'Digital System', N'Tocchi', N'3rd', N'Old', N'News', 99, CAST(120 AS Numeric(18, 0)), CAST(11880 AS Numeric(18, 0)), CAST(0xBE390B00 AS Date))
SET IDENTITY_INSERT [dbo].[Books] OFF
/****** Object:  Table [dbo].[ALl_Table_Name]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALl_Table_Name](
	[Serial_No] [int] IDENTITY(1,1) NOT NULL,
	[T_Name] [nvarchar](max) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALl_Table_Name] ON
INSERT [dbo].[ALl_Table_Name] ([Serial_No], [T_Name]) VALUES (1, N'Add_Due')
INSERT [dbo].[ALl_Table_Name] ([Serial_No], [T_Name]) VALUES (2, N'Books')
INSERT [dbo].[ALl_Table_Name] ([Serial_No], [T_Name]) VALUES (3, N'CurrentReading')
SET IDENTITY_INSERT [dbo].[ALl_Table_Name] OFF
/****** Object:  Table [dbo].[Add_Due]    Script Date: 03/31/2015 23:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Due](
	[Serial_A] [int] IDENTITY(1,1) NOT NULL,
	[Name_A] [nvarchar](max) NOT NULL,
	[Moabile_A] [nvarchar](50) NOT NULL,
	[Book_A] [numeric](18, 0) NOT NULL,
	[Book_N] [numeric](18, 0) NOT NULL,
	[Copy_A] [numeric](18, 0) NOT NULL,
	[Copy_N] [numeric](18, 0) NOT NULL,
	[Others_A] [numeric](18, 0) NOT NULL,
	[Others_N] [numeric](18, 0) NOT NULL,
	[Total_A] [numeric](18, 0) NOT NULL,
	[Added_Amount] [numeric](18, 0) NOT NULL,
	[Total_N] [numeric](18, 0) NOT NULL,
	[Added_Date] [date] NOT NULL,
 CONSTRAINT [PK_Add_Due] PRIMARY KEY CLUSTERED 
(
	[Serial_A] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
